.First-Loading-Container {
  width: 100%;
  height: 100vh;

  background-color: white;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .First-Loading-Box {
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
