* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Tahoma;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(87, 119, 223);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(54, 84, 182);
}

$navbar-height: 35px;
$side-bar-width: 220px;
$primary-color: rgb(50, 101, 167);
$secondary-color: rgb(33, 76, 131);

.App {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  header {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: $primary-color;
    color: white;
    padding: 0px 7px 0px 7px;
    display: flex;
    justify-content: space-between;
    height: $navbar-height;

    h1 {
      font-size: 27px;
      width: 100%;
    }

    .links {
      display: flex;
      align-items: center;

      button {
        line-height: 23px;
        text-align: center;
        cursor: pointer;
        background-color: $secondary-color;
        color: white;
        border: 1px solid white;
        width: 100px;
        &:not(:nth-child(1)) {
          margin-left: 5px;
        }
      }
    }
  }

  .sidebar {
    padding-top: $navbar-height;
    position: fixed;
    height: 100vh;
    width: $side-bar-width;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: white;

    // Important | used to fix vertical scroll on sidebar buttons
    display: flex;
    align-items: center;
    flex-direction: column;

    .profile {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 5px;
      border-bottom: 1px solid #c1c1c1;

      .profile-photo-container {
        width: $side-bar-width;
        height: $side-bar-width;
        display: flex;
        align-items: center;
        justify-content: center;

        .profile-photo-image {
          width: $side-bar-width - 15;
          height: $side-bar-width - 15;
          border-radius: 10px;
          background: #f1f1f1;
          background-image: url('https://r2.erweima.ai/imgcompressed/img/compressed_e732d27392855249bb07cfd89ccf9353.webp');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .profile-info {
        width: 100%;
        text-align: center;

        .profile-name {
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 5px;
          font-weight: bold;
          letter-spacing: 0.3px;
        }

        .profile-email {
          font-size: 13.5px;
          line-height: 13.5px;
          margin-bottom: 5px;
          letter-spacing: 0.3px;
        }
      }
    }

    .sidebar-buttons {
      width: 100%;
      overflow-y: scroll;
      flex: 1;
      button {
        letter-spacing: 0.5px;
        width: 100%;
        text-align: left;
        // display: block;
        cursor: pointer;
        &:not(:nth-child(1)) {
          margin-top: 3px;
        }
        font-size: 16px;
        border-radius: 0px;
        border: none;
        background: none;
        padding: 3px 7px 3px 7px;
        &:hover {
          background-color: rgb(223, 223, 223);
        }
      }
    }
  }

  main {
    width: 100%;
    padding-top: $navbar-height;
    padding-left: $side-bar-width;

    .banner {
      width: 100%;
      min-height: 300px;
      background-image: url('https://www.shutterstock.com/image-photo/saving-money-concept-hand-putting-600nw-1887699688.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  footer {
    padding-left: $side-bar-width;
    width: 100%;
    background-color: $primary-color;

    .footer-copyright-text {
      font-size: 12px;
      padding: 5px;
      color: white;
    }
  }
}
