.Admin {
  .Admin-Config {
    height: 100vh;
    width: 23vw;
    border-left: 1px solid #c1c1c1;
    background-color: #fff;

    position: fixed;
    top: 0px;
    z-index: 3;

    animation-duration: 0.4s;
    animation-iteration-count: inherit;

    right: -30vw;
    visibility: hidden;
    opacity: 0;

    .Admin-Config-Header {
      width: 100%;
      height: 5vh;
      display: flex;
      justify-content: space-between;
      color: #fff;

      .Admin-Config-Header-Text {
        padding-bottom: 5px;
        margin-bottom: 5px;
        width: 100%;
        padding-left: 7px;
        height: 5vh;
        line-height: 5vh;
      }

      .Admin-Config-Header-Close-Button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 5vh;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .Admin-Config-Body {
      width: 100%;
      overflow: hidden;

      // Config items styles ...
    }
  }

  .Admin-Config-Active {
    visibility: visible;
    opacity: 1;
    right: 0vw;

    animation-name: Admin-Config-Anim;
  }

  @keyframes Admin-Config-Anim {
    0% {
      right: -30vw;
    }

    60% {
      right: 1vw;
    }

    100% {
      right: 0vw;
    }
  }
}
