.Admin {
  .Admin-Navbar {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: white;
    padding: 0px 7px 0px 7px;
    display: flex;
    justify-content: space-between;

    .Admin-Navbar-Title {
      font-size: 25px;
      width: 100%;
    }

    .Admin-Navbar-Link-Container {
      display: flex;
      align-items: center;

      button {
        line-height: 23px;
        text-align: center;
        cursor: pointer;
        color: white;
        border: 1px solid white;
        width: 100px;
        &:not(:nth-child(1)) {
          margin-left: 5px;
        }
      }
    }
  }
}
